<form class='form-group'>
	<label>Username</label>
	{{input class='form-control' value=username id='username'}}
	<label>Email</label>
	{{input class='form-control' value=email id='email' }}
	<label>Password</label>
	{{input class='form-control' type='password' value=password id='password'}}
	<button id='button' class='btn btn-success'{{action 'signUserUp'}}>Sign Up</button>
</form>
{{yield}}
